@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DINRoundPro';
  src: url('/fonts/DINRoundPro.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'DINRoundPro';
  src: url('/fonts/DINRoundPro-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}



body {
  font-family: 'DINRoundPro', sans-serif;
}


:root{
  scroll-behavior: smooth;
}


.bgCard{
  background-image: url("/nuez.jpg");
  width: 300px;
  height: 400px;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.518);
}

.bgCardValue{
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.518);
}


.titles{
  @apply font-bold text-2xl text-[#7a8130] text-center
}

.subtitle{
  @apply text-center text-[#032b76]
}

.footerTitle{
  @apply text-center text-xl text-[#7a8130] 
}