@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'DINRoundPro';
  src: url('/fonts/DINRoundPro.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'DINRoundPro';
  src: url('/fonts/DINRoundPro-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} */


/* 
body {
  font-family: 'DINRoundPro', sans-serif;
  font-weight: bold;

} */


:root{
  scroll-behavior: smooth;
}


.bgCard{
  background-image: url("/nuez.jpg");
  width: 300px;
  height: 400px;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.518);
}

.bgCardValue{
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.518);
}


.titles{
  @apply font-bold text-2xl text-[#6f7640] text-center
}

.subtitle{
  @apply text-center text-[#6f7640] font-medium text-base
}

.historyContainer{
@apply px-4 py-1 bg-[#6f7640] text-[#d7d9c0] font-semibold text-center text-xl w-fit flex justify-center mx-auto rounded
}

.bgGeneral{
  @apply bg-[#bfc197]
}

.bgBenefit{
  @apply bg-[#6f7640]
}

.bgDark{
  @apply bg-[#6f7640]
}

.textSoft{
  @apply text-[#d7d9c0] 
}
/* .iconsBenefit{
  @apply 
}
 */

.bgMenu{
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(69, 69, 71, 0.237);
}